* {
    margin: 0;
    padding: 0;
    outline: none;
    font-family: 'Medium-content-sans-serif-font
    ', sans-serif;
  }
  a{
    text-decoration: none;
    color: #000;
  }
  .articles-header{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #e3e7edff;
    width: 100%;
    height:360px;
  }
.article-header-text h1{
  font-size: 58px;
  text-align: center;
  vertical-align: middle;
  font-weight: 300;
  color: rgba(41, 41, 41, 1);
  margin-top: 40px;
}
.article-header-span{
  text-align: center;
  line-height: 32px;
  font-size: 18px; 
  max-width:500px ;
  font-family: sans-serif ;

}
  .articles-nav{
    display: flex;
    width: 80%;
    height: 80px;
    justify-content: space-between;    
    align-items: center;
    
  }
.articles-logo{
  display: flex;
  align-items: center;
}
.articles-logo{
  padding-right: 10px; 
}
.logout:hover{
  background:#2980B9;
  color: white;
}
.logout{
  cursor:pointer;
  width: 80px;
  height: 30px;
  background: none;
  border:1px solid black;
  border-radius: 5px;
  border-color: rgba(72, 76, 81, 1);
  padding: 4px 12px;
  line-height: 20px;
  font-size: 16px;
}
.main-wrapper{
  margin:10px;
  display: flex;
  justify-content: center;
  width: 80%;
  margin-top:10px;
}
.article-img{
  width: 240px;
  height: 140px;
}

.main-articles-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  flex-direction: column;
}
.main-content-articles{
  margin-bottom: 20px;
  width: 80%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.main-content-articles__item{
   display: flex;
   justify-content: space-evenly;
   align-items: str;
   margin-bottom: 20px;
}
.articles__item-text{
  width: 50%;
}
.articles__item-text-header{
  font-size: 22px;
  line-height: 32px;
  font-weight: 600;
  cursor: pointer;
}
.articles__item-text-description{
  line-height: 24px;
  font-size: 18px;
  color: rgba(117, 117, 117, 1);
}
.articles__item-text-category{
  line-height: 24px;
  font-size: 16px;
  color: rgba(117, 117, 117, 1);
}
.articles__item-text-author{
  line-height: 24px;
  font-size: 14px;
  color: rgba(117, 117, 117, 1);
}
.articles__item-text-panel{
  line-height: 24px;
  font-size: 14px;
  color: rgba(117, 117, 117, 1);
  margin-bottom:0px ;
}
.card__form-data{
  width: 50%;
}
.card-input-wrapper input, textarea{
  outline: none;
  width: 100%;
  border: none;
  border-bottom: 1px solid #b3b3b3;
  background-color: #fff;
  height: 30px;
  margin-bottom: 10px;
}

.card-input-wrapper textarea{

  height: 200px;

  border-bottom: 1px solid #b3b3b3;

  border-left: 1px solid #b3b3b3;

  border-right: 1px solid #b3b3b3;

}
@media screen and (max-width: 450px) {
    .articles-header{
      height: 450px;
    }
  }
@media screen and (max-width: 550px) {
  .articles__item-text {
    width: 100%!important;
  }
  .article-content{
    width: 90%!important;
  }
    .main-content-articles__item {
    display: block;
    }
    .card__form-data{
      width: 100%;
    }
    .article-content{
      width:90%
    }
}
.panel-wrapper{
  display: flex;
  justify-content:flex-end;
  width: 100%;
  margin-bottom: 20px;
  margin-right: 20px;
  height: 35px;
}
.add-article:hover{
  background:#e3e7edff;
}
.add-article{
  float: right;
  background: white;
  padding: 10px;
  border:2px solid #e3e7edff;
  outline: none;
  margin-bottom: 20px;
}
.main-create-article-wrapper{
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: sans-serif ;
  flex-direction: column;
}
.main-create-article-wrapper h2{
  margin-bottom: 30px;

}
#main-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card__form-label {
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  margin-bottom: 20px;
}
.card-form {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

.card-form-container {
  width: 80%;
  margin: 0;
  display: flex;
  justify-content: center;
}
.add-article{
  width: 100px;
  height: 35px;
}
.btn-change:hover{
  background:#e3e7edff;
}
.btn-change{
  cursor: pointer;
  background: none;
  padding: 10px;
  border:2px solid #e3e7edff;
  margin-right: 20px;
}
.comment-block{
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 30px;
}
.comment-add{
  width: 100%;
  height: 42px;
  border: none;
  border-bottom: 1px solid #b3b3b3;
}
.comment-block-item{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 42px;
  border: none;
  border-bottom: 1px solid #b3b3b3;
  font-family: medium-content-serif-font, Georgia, Cambria, "Times New Roman", Times, sans-serif;

}
input[type="file"] {
  display: none;
}

.custom-file-upload:hover{
  background-color:#e3e7edff;
}
.custom-file-upload {
  padding: 10px;
  border:2px solid #e3e7edff;
  display: inline-block;
  cursor: pointer;
}
.other-articles{
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.main-article-wrapper{
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.main-article-wrapper img {
  margin-bottom: 20px;
}
.article-content{
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.article-content h2{
line-height: 48px;
font-size: 40px;
font-weight: 400;
font-style: normal;
font-family: medium-content-title-font, Georgia, Cambria, "Times New Roman", Times, serif;
}
.article-text-content{
  margin-top:30px;
  margin-bottom: 40px;
  line-height: 32px;
  font-size: 21px;
  font-family: medium-content-serif-font, Georgia, Cambria, "Times New Roman", Times, serif;
  color: rgb(105, 102, 102);
}
.article-content hr{
width: 100%;
margin-bottom: 30px;
}
.info-panel{
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  flex-direction: column;
  margin-bottom: 30px;
}
.dropbtn {
  background-color: green;
  color: white;
  padding: 10px;
  font-size: 13px;
  border: none;
  cursor: pointer;
  margin-right: 30px;
  margin-left: 20px;
}
.dropbtn:hover, .dropbtn:focus {
  background-color: #2980B9;
}
.dropdown-content {
  display: none;
  background-color: #f1f1f1;
  min-width: 90px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover {
  background-color: #ddd
}
.show {
  display:block;
}
.fa-times{
  margin-left: 5px;
}
.button-form{
  width: 40%;
  margin: 0 auto;
}
.articles__item-text{
  width: 50%;
}
@media screen and (max-width: 950px) {
  .main-content-articles{
    margin-top: 65px;
  }
}
@media screen and (max-width: 550px) {
  .article-content {
    width: 80%;
  }
  .main-content-articles__item{
    flex-direction: column;
  }
  .main-article-wrapper img {
    width: 250px;
    height: auto;
    }
  .articles__item-text {
      width: 100%;
  }
}

@media screen and (max-width: 780px) {
  .main-article-wrapper img {
  width: 400px;
  height: auto;
  }
}
